doctype
html(lang='en')
   head
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      title='Virtual Clinic | Pending Doctors' 
      link(rel='stylesheet', href= 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css',
      integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin='anonymous')

   body 
      h3 Pending Doctors
      if count < 1
         p There are no doctors to view.
      else
         table 
            thead
               tr
                  th Name 
                  th E-mail
                  th .
            tbody
               each doctor in doctors 
                  tr 
                     td #{doctor.name}
                     td #{doctor.email}
                     td: a(href=`/admin/pendingDoctors?id=${doctor._id}`) View