doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title='Filtered Appointments'
  body
    h1 Filtered Appointments
    if filteredAppointments.length > 0
      table.table
        thead
          tr
            th Status
            th Date
            th Doctor
            th Patient
        tbody
          each appointment in filteredAppointments
            tr
              td= appointment.status
              td= appointment.date
              td= appointment.doctorUsername
              td= appointment.patientUsername
    else
      p No matching appointments found
