doctype
html(lang='en')
    head
     meta(charset='utf-8')
     meta(name='viewport', content='width=device-width, initial-scale=1.0')
     title='Pharmacy | View Patient Info' 
     link(rel='stylesheet', href= 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css',
      integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin='anonymous')
     style.
        = {
            width= 600px
            margin: 0 auto;
         }


    body 
     h3 Patient Information
     table 
        thead
        tr
         th Name
         th Username
         th Date of Birth 
         th Email 
         th Gender 
         th Mobile 
         th Emergency Contact
         th Name 
         th Mobile 
         th Relation
        tbody
          tr 
           td #{patient.name}
           td #{patient.username}
           td #{patient.dateOfBirth}
           td #{patient.email}
           td #{patient.gender}
           td #{patient.mobile}
           td 
           td #{patient.emergencyContact.name}
           td #{patient.emergencyContact.mobile}
           td #{patient.emergencyContact.relation}
     h2 Family Members:
     table 
         thead 
         tr 
          th Name 
          th National ID 
          th Age 
          th Gender 
          th Relationship 
         tbody 
          each member in family
           tr 
            td #{member.name}
            td #{member.nationalID}
            td #{member.age}
            td #{member.gender}
            td #{member.relationship}

           
